<!DOCTYPE html>
<meta charset="utf-8">
<script src="http://d3js.org/d3.v2.min.js?2.9.3"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<style>
.test {
white-space:normal;
}

.link {
  stroke: #aaa;
}

.node circle {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 0.1px;
}

.node text {
  font: 12.5px sans-serif;
  pointer-events: none;
  text-anchor: middle;
}

line.link {
  stroke: #C8C8C8;
  stroke-width: 0.5px;
}

.link text {
  font: 10px sans-serif;
  pointer-events: none;
  text-anchor: middle;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 30%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 70%;
  //background-color: #DCDCDC; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 20px;
}

</style>

<body>
  <div class="sidenav" id="literalDiv">

  </div>

  <script>


var json;
var nodeSet = new Set();
var json_create = {"nodes":[],"links":[]};
var nodeMap={}; // kgtk nodeId: countOfNode
var literalCount = 0;
var nodeCount = 0;
var midNodeCount = 0;
var width = 1400,
    height = 1000;


var p_list =[];

    d3.tsv("/static/data/data.tsv", function(data) {
      for (var i = 0; i < data.length; i++) {
        if(data[i].node2 == "external-id")
        {
          p_list.push(data[i].node1);
        }

    }

    });


function setSize(d) {

  if(d.type=="root_node")
  {return 24;}

  if(d.hasOwnProperty("fanout"))
  {
    if(d.fanout>100)
    return 30;
    var myScale = d3.scale.linear()
    .domain([1, 100])
    .range([12, 24]);
      return myScale(d.fanout);
  }
  else {
    if(d.type=="qualifier_node" || d.type=="mid_node")
      return 5;
    else {
      return 10;
  }

}

}

 function color(d) {



   if(d.type=="node")
   {
     return "#c6dbef";
   }
   else if(d.type == "literal_node")
   {
     return "#ffff4d";
   }
   else if(d.type =="qualifier_node") {
     return "#ff9980";
   }
   else if(d.type == "qualifier_expanded_node")
   {
     return "#ff6666";
   }
   else if(d.type=="root_node")
   {
     console.log("in root");
     return "#79a6d2";
   }
   else if(d.type=="mid_node")
   {
     return "#d3d3d3";
   }

 }

function update()
{
  force
      .nodes(json.nodes)
      .links(json.links)
      .start();


  link = link
      .data(json.links);

  link.exit().remove();

  var  linkEnter=link.enter().append("line")
      .attr("class", "link")
      .style("stroke", function(d){

        if(d.hasOwnProperty("label") )
        {
          if(d.label.includes("instance of")|| d.label.includes("subclass of"))
          return "#505050";
        }
        if(d.type=="qualifier_edge" )
        {
          return "#ff9980";
        }
        else {
          return '#C8C8C8';
        }

                 })

.attr('marker-end','url(#arrowhead)');

  node = node
      .data(json.nodes);

  node.exit().remove();
  var nodeEnter=    node.enter().append("g")
      .attr("class", "node")
      .on("click", click)
      .call(force.drag);



  nodeEnter.append("circle")
            		//.attr("r", setSize)
                //.attr("fill", color)
            		.style("stroke", color);

                node.select("circle").attr("r", setSize)
    .style("fill", color);



    nodeEnter.append("text")
        .attr("dx", 3)
        .attr("dy", ".35em")
        .text(function(d) {

          var node_name = d.name;
          node_name = node_name.replace(/'|"/g, "")

          if(node_name[0]!="@" && node_name.includes("@"))
          {
            var index = node_name.indexOf("@");
            node_name = node_name.substring(0,index);

          }
          if(node_name.length>28)
          {
            node_name= node_name.substring(0,25) + "...";
          }

          return node_name; })


        edgepaths = edgepaths.data(link, function(d) { return 'edgepath'+d.id; });


        edgepaths.exit().remove();

        edgelabels = edgelabels.data(link, function(d) { return 'edgelabel'+d.id; });


        edgelabels.exit().remove();

        edgeUpdate(json.links);



}

function getData(URL)
{

  return fetch(URL, {
    mode: 'cors',
    headers: {
      'Access-Control-Allow-Origin':'*'
    }
  })
    .then(response => response.json())
    .then(data => {

      var commonNodeMap={};
      var literalMap = {};



      var label_mapping = data["objects"][1]["labels"];
      var image_mapping = data["objects"][2]["images"];
      var fan_mapping = data["objects"][3]["fanouts"];
      var data_mapping = data["objects"][0];
      var edges = data_mapping["edges"];

      if(!nodeMap.hasOwnProperty(data_mapping["@id"]))
      {


      json_create["nodes"].push({"name": data_mapping["label"][0], "fanout": edges.length ,"type":"root_node", "id": data_mapping["@id"]});



      nodeMap[data_mapping["@id"]]= nodeCount;
      nodeCount++;

    }



for(var i=0; i<edges.length;i++)
{

var edge = edges[i];

if(p_list.includes(edge["p"]))
{
continue;
}




if(edge.hasOwnProperty("qualifiers"))
{


  if(!nodeMap.hasOwnProperty(edge.o))
  {

  nodeMap[edge.o]= nodeCount;
  nodeCount++;

  if(label_mapping.hasOwnProperty(edge.o))
  {
      json_create["nodes"].push({"name": label_mapping[edge.o][0], "fanout": fan_mapping[edges[i]["o"]], "type":"node", "o": edge.o , "id": edge.o});

  }
    else {
      json_create["nodes"].push({"name": edge.o, "type":"literal_node", "id":edge.o});
  }

  }

  nodeMap[(edge.p).concat(edge["@id"])]= nodeCount;
  nodeCount++;
  json_create["nodes"].push({"name": "", "type":"qualifier_node", "id":(edge.p).concat(edge["@id"]), "qualifier_json": edge.qualifiers, "label_mapping": label_mapping, "edge_p":edge.p, "fan_mapping":fan_mapping, "edge_id": edge["@id"]});
  json_create["links"].push({"source": nodeMap[edge.s], "target":nodeMap[(edge.p).concat(edge["@id"])], "weight":1, "label": "", "id":edge["@id"], "linkDistance": 50});
  json_create["links"].push({"source": nodeMap[(edge.p).concat(edge["@id"])], "target":nodeMap[edge.o], "weight":1, "label": label_mapping[edge.p][0], "id":(edge.o).concat(edge["@id"]), "linkDistance": 70});


}
else {

  if(!nodeMap.hasOwnProperty(edge.o))
  {



  if(label_mapping.hasOwnProperty(edge.o))
  {
    nodeMap[edge.o]= nodeCount;
    nodeCount++;
      json_create["nodes"].push({"name": label_mapping[edge.o][0], "fanout": fan_mapping[edges[i]["o"]], "type":"node", "o": edge.o , "id": edge.o});

      if(commonNodeMap.hasOwnProperty((edge.s).concat("#").concat(edge.p)))
      {
          commonNodeMap[(edge.s).concat("#").concat(edge.p)].push([edge.o, edge["@id"]]);
      }
      else {
          commonNodeMap[(edge.s).concat("#").concat(edge.p)]= [[edge.o, edge["@id"]]];
      }
  }
  else {
          if(literalMap.hasOwnProperty(edge.p))
          {
            literalMap[edge.p].push(edge.o);
          }
          else {
            literalMap[edge.p]=[edge.o];
          }
  }


  }


}

}



for(var key in commonNodeMap)
{

var value_list = commonNodeMap[key];
if(value_list.length==1)
{

  var elem = value_list[0];
  json_create["links"].push({"source": nodeMap[key.split("#")[0]], "target":nodeMap[elem[0]], "weight":1, "label": label_mapping[key.split("#")[1]][0], "id":elem[1], "linkDistance": 160});

}
else {

  nodeMap[key]= nodeCount;
  nodeCount++;
  midNodeCount++;
  json_create["nodes"].push({"name": "", "type":"mid_node", "id":key});
  json_create["links"].push({"source": nodeMap[key.split("#")[0]], "target":nodeMap[key], "weight":1, "label": label_mapping[key.split("#")[1]][0], "id":(key).concat("#").concat(midNodeCount), "linkDistance": 120});

  for(var i= 0; i<value_list.length; i++)
  {

    var val = value_list[i];
    json_create["links"].push({"source": nodeMap[key], "target":nodeMap[val[0]], "weight":1, "label": "", "id":val[1], "linkDistance": 60});

  }
}

}
var div = document.getElementById('literalDiv');
//div.innerHTML =data_mapping["label"][0];
var sub_div="";
sub_div+="<div class='card'><article class='card-group-item'><header class='card-header'><h4 class='title'>".concat(data_mapping["label"][0]).concat("</h4></header><div class='filter-content'><div class='list-group list-group-flush'>");

for(var property in literalMap)
{
  var literal_list = literalMap[property];

  //div.innerHTML += "<br><h4>Property ".concat(label_mapping[property][0]).concat("</h4></br><ul>");
      //div.innerHTML+="<div class='card'><article class='card-group-item'><header class='card-header'><h4 class='title'>Similar category </h4></header><div class='filter-content'><div class='list-group list-group-flush'>";
  for(var j=0;j<literal_list.length; j++)
  {
    console.log(literal_list[j]);
    if(literal_list[j].length>25)
    {
      sub_div+=" <a href='#' class='list-group-item test'>".concat(label_mapping[property][0]).concat("<span class='float-right badge badge-light round test'>").concat(literal_list[j].substring(0,25)).concat("...</span> </a>");

    }
    else {
      sub_div+=" <a href='#' class='list-group-item test'>".concat(label_mapping[property][0]).concat("<span class='float-right badge badge-light round test'>").concat(literal_list[j]).concat("</span> </a>");

    }
    //div.innerHTML+=" <a href='#' class='list-group-item test'>".concat(label_mapping[property][0]).concat("<span class='float-right badge badge-light round test'>").concat(literal_list[j]).concat("</span> </a>");

    //div.innerHTML += ("<h5><li class='list-group-item'>").concat(literal_list[j]).concat("</li></h5></br>");
  }
    //div.innerHTML +="</ul>";


}
sub_div+="</div></div></article></div><br><br>";
div.innerHTML= sub_div + div.innerHTML;

json = json_create;


update();

return ;
});

}
var node_val = '{{value}}';
const locationQuery = new URLSearchParams(location.search)
console.log('location query');
console.log(locationQuery);
console.log(locationQuery.has("node"));
console.log(locationQuery);
getData("/api/".concat(node_val));
function edgeUpdate(links)
{

        edgepaths = edgepaths
                .data(links)
                .enter()
                .append('path')
                .attr({'d': function(d) {return 'M '+d.source.x+' '+d.source.y+' L '+ d.target.x +' '+d.target.y},
                       'class':'edgepath',
                       'fill-opacity':0,
                       'stroke-opacity':0,
                       'fill':'blue',
                       'stroke':'red',
                       'id':function(d,i) {return 'edgepath'+d.id}})
                .style("pointer-events", "none");

            edgelabels = edgelabels
                .data(links)
                .enter()
                .append('text')
                .style("pointer-events", "none")
                .attr({'class':'edgelabel',
                       'id':function(d,i){return 'edgelabel'+d.id},
                       'dx':"0em",
                       'dy':-8,
                       'font-size':9,

                       'fill':'#D0D0D0'});

            edgelabels.append('textPath')
                .attr('xlink:href',function(d,i) {return '#edgepath'+d.id})
                .style("pointer-events", "none")
                .style("text-anchor","middle")
    .attr("startOffset", "50%")
                .text(function(d,i){


                  if(d )
                  {

                    return d.label;
                  }

                  return "";});



}


var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height).append("g");

    svg.append('defs').append('marker')
           .attr({'id':'arrowhead',
                  'viewBox':'-0 -5 10 10',
                  'refX':25,
                  'refY':0,
                  'orient':'auto',
                  'markerWidth':10,
                  'markerHeight':10,
                  'xoverflow':'visible'})
           .append('svg:path')
               .attr('d', 'M 0,-5 L 10 ,0 L 0,5')
               .attr('fill', '#ccc')
               .attr('stroke','#ccc')
               .append("image")
     		.attr("x", 0)
     		.attr("y", 0)
     		.attr("width", 50)
         .attr("height", 50)
         .attr("xlink:href", function(d) {
           return "http://placehold.it/50&text=Ringo";


         });


               var link = svg.selectAll(".link");
               var node = svg.selectAll(".node");


               var edgepaths = svg.selectAll(".edgepath");
               var edgelabels = svg.selectAll(".edgelabel");


var force = d3.layout

.force("center_force")
.distance(100)
.charge(-1200)
.gravity(0.05)
.size([width, height]);

force.linkDistance(function (d) {
       return d.linkDistance;
 })


function expandQualifier(d)
{
  var qualifier_edges= d.qualifier_json;

  for(var j=0; j<qualifier_edges.length;j++)
  {
     var qualifier_edge = qualifier_edges[j];

     if(!nodeMap.hasOwnProperty(qualifier_edge.o))
     {

     nodeMap[qualifier_edge.o]= nodeCount;
      nodeCount++;

     if(d.label_mapping.hasOwnProperty(qualifier_edge.o))
     {
        var fan_val;
       if(d.fan_mapping[qualifier_edge.o])
       {
         fan_val = d.fan_mapping[qualifier_edge.o];
       }
       else {
        fan_val = 10;
       }
         json_create["nodes"].push({"name": d.label_mapping[qualifier_edge.o][0], "fanout": fan_val, "type":"node", "o": qualifier_edge.o , "id": qualifier_edge.o});

     }
       else {
         json_create["nodes"].push({"name": qualifier_edge.o, "type":"literal_node", "id":qualifier_edge.o});
     }

     }

     json_create["links"].push({"source": nodeMap[(d.edge_p).concat(d.edge_id)], "target":nodeMap[qualifier_edge.o], "weight":1, "label": d.label_mapping[qualifier_edge.p][0], "id":(qualifier_edge.o).concat(d.edge_id), "linkDistance": 50, "type":"qualifier_edge"  });


  }


}

function click(d) {

  if (d3.event && d3.event.defaultPrevented) return; // ignore drag
  console.log(d);
  if (d.type=="node" ) {

    //console.log(d);
    d.type="root_node";
    console.log(d);
    getData(`/api/${d.o}`);

    d.x = height / 2;
    d.y = width / 2;
    d.type="root_node";
    update();
    d.type="root_node";
    d.x = height / 2;
    d.y = width / 2;



  }
  else {

  expandQualifier(d);
  update();
    return;
  }

}



  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

    edgepaths.attr('d', function(d) { var path='M '+d.source.x+' '+d.source.y+' L '+ d.target.x +' '+d.target.y;

                                         return path});

      edgelabels.attr('transform',function(d,i){
          if (d.target.x<d.source.x){
              bbox = this.getBBox();
              rx = bbox.x+bbox.width/2;
              ry = bbox.y+bbox.height/2;
              return 'rotate(180 '+rx+' '+ry+')';
              }
          else {
              return 'rotate(0)';
              }
      });



  });



</script>
